In [21]:
#James Chartouni
from multiprocessing import Pool, cpu_count
import gc; gc.enable()
import pandas as pd
import numpy as np

In [60]:
test = pd.read_csv('raw_data/sample_submission_zero.csv')
print(test.shape)
test_2 = pd.read_csv('raw_data/sample_submission_v2.csv')
print(test_2.shape)
test = pd.concat((test, test_2))
test.shape

(970960, 2)
(907471, 2)

(1878431, 2)

In [61]:
train = pd.read_csv('raw_data/train.csv')
test = pd.read_csv('raw_data/sample_submission_v2.csv')
print(test.shape)
#print(pd.concat(g for _, g in train.groupby("msno") if len(g) > 1))

print("transactions")
transactions = pd.read_csv('cleaned_input/transactions.csv', usecols=['msno'], dtype={"msno":str})
transactions = pd.DataFrame(transactions['msno'].value_counts().reset_index())
transactions.columns = ['msno','trans_count']
train = pd.merge(train, transactions, how='left', on='msno')
test = pd.merge(test, transactions, how='left', on='msno')
transactions = []; print('transaction merge...')
print(test.shape)

print("user_logs")
user_logs = pd.read_csv("cleaned_input/train_user_log.csv")
#user_logs_2 = pd.read_csv("cleaned_input/processed_user_log_v2.csv")
#user_logs = pd.concat((user_logs, user_logs_2))
'''user_logs = pd.read_csv('raw_data/user_logs.csv', usecols=['msno'])
user_logs_2 = pd.read_csv('raw_data/user_logs_v2.csv', usecols=['msno'])
user_logs = pd.concat((user_logs, user_logs_2))
user_logs = pd.DataFrame(user_logs['msno'].value_counts().reset_index())
#user_logs.to_csv('cleaned_input/user_logs_merged.csv')
user_logs_reduced = user_logs
user_logs_reduced.columns = ['msno','logs_count']'''

train = pd.merge(train, user_logs, how='left', on='msno')
test = pd.merge(test, user_logs, how='left', on='msno')
user_logs_reduced = []
#print(pd.concat(g for _, g in train.groupby("msno") if len(g) > 1))
print(test.shape)

print("members")
members = pd.read_csv('cleaned_input/members.csv')
train = pd.merge(train, members, how='left', on='msno')
test = pd.merge(test, members, how='left', on='msno')
members = []; print('members merge...') 
#print(pd.concat(g for _, g in train.groupby("msno") if len(g) > 1))
print(test.shape)

(907471, 2)
transactions
(992931, 3)
transaction merge...
(907471, 3)
user_logs
(992931, 3)
(5339422, 11)
(907471, 13)
members
members merge...
(907471, 22)

In [62]:
train.head()

,msno,is_churn,trans_count,date_min,date_max,date_count,num_25_sum,num_50_sum,num_75_sum,num_985_sum,...,total_secs_sum,Unnamed: 0,city,bd,gender,registered_via,registration_init_time,registration_init_year,registration_init_month,registration_init_date
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,2,20161106.0,20170208.0,6.0,51.0,16.0,19.0,11.0,...,1.080519e+05,533644.0,18.0,36.0,female,9.0,20050406.0,2005.0,4.0,6.0
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,23,20150101.0,20170319.0,11.0,447.0,157.0,121.0,178.0,...,2.615594e+06,4788980.0,10.0,38.0,male,9.0,20050407.0,2005.0,4.0,7.0
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,10,20160202.0,20170131.0,10.0,1570.0,950.0,302.0,479.0,...,2.597385e+06,1724865.0,11.0,27.0,female,9.0,20051016.0,2005.0,10.0,16.0
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,3,20150101.0,20170331.0,11.0,7354.0,2443.0,1803.0,1655.0,...,4.978270e+06,6710524.0,13.0,23.0,female,9.0,20051102.0,2005.0,11.0,2.0
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,9,20150101.0,20170331.0,11.0,1408.0,720.0,689.0,3249.0,...,1.882824e+07,1688205.0,3.0,27.0,male,9.0,20051228.0,2005.0,12.0,28.0

In [63]:
user_logs.shape

(5339422, 11)

In [64]:
#pd.concat(g for _, g in train.groupby("msno") if len(g) > 1)

In [65]:
#combine user_log_time_series
user_log_time_series = pd.read_csv("100_user_logs_features.csv")
user_log_time_series_1 = pd.read_csv("100_user_logs_features.csv")
user_log_time_series_2 = pd.read_csv("200_user_logs_features.csv")
user_log_time_series_3 = pd.read_csv("300_user_logs_features.csv")
user_log_time_series_4 = pd.read_csv("400_user_logs_features.csv")
user_log_time_series_5 = pd.read_csv("500_user_logs_features.csv")
user_log_time_series_6 = pd.read_csv("600_user_logs_features.csv")
user_log_time_series_7 = pd.read_csv("5100_user_logs_features_3.csv")
user_log_time_series_8 = pd.read_csv("5200_user_logs_features_3.csv")
user_log_time_series_9 = pd.read_csv("5300_user_logs_features_3.csv")

user_log_time_series.append(user_log_time_series_1)
user_log_time_series.append(user_log_time_series_2)
user_log_time_series.append(user_log_time_series_3)
user_log_time_series.append(user_log_time_series_4)
user_log_time_series.append(user_log_time_series_5)
user_log_time_series.append(user_log_time_series_6)
user_log_time_series.append(user_log_time_series_7)
user_log_time_series.append(user_log_time_series_8)
user_log_time_series.append(user_log_time_series_9)

user_log_time_series = user_log_time_series.drop(user_log_time_series.columns[0], axis=1)

In [66]:
#user_log_time_series = pd.to_numeric(user_log_time_series[user_log_time_series.columns[1]])
user_log_time_series["gap_days"] = user_log_time_series["gap_days"].astype(str).str.split().str[0].str.rsplit('.').str[0]
user_log_time_series.head()
#.astype(np.int8)

,msno,gap_days,average_gap_days,longest_gap,gaps_longer_29
0,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,732,5.270400e+06,7430400.0,12.0
1,PNxIsSLWOJDCm7pNPFzRO/6Mmg2WeZA2nf6hw6t1x3g=,402,1.736640e+07,18144000.0,2.0
2,KXF9c/T66LZIzFq+xS64icWMhDQE6miCZAtdXRjZHX8=,532,1.532160e+07,25747200.0,3.0
3,OcZ3fKQzHrL1BuzuFRzUiwPr8l9P8JKCFpafdYf5sCY=,689,5.411782e+06,6652800.0,11.0
4,dW5DQO92XaG024D2QYmktyUnLc2axil74zUPAhF8sEs=,673,5.814720e+06,10627200.0,10.0

In [67]:
user_log_time_series.to_csv("cleaned_input/user_log_time_series.csv")

In [68]:
#need to conslidate these 
pd.concat(g for _, g in user_log_time_series.groupby("msno") if len(g) > 1)

,msno,gap_days,average_gap_days,longest_gap,gaps_longer_29
43460,0U5c05kjiSoiqgqQfya3dxAFvR+vAeWMEP9UnXqbyPc=,620,5.952000e+06,8208000.0,9.0
43461,0U5c05kjiSoiqgqQfya3dxAFvR+vAeWMEP9UnXqbyPc=,60,5.184000e+06,5184000.0,1.0
21158,33KjbqKroPIQtzOKBDK81i//aq/OO2Zggvvbp0Sc+Bk=,52,4.492800e+06,4492800.0,1.0
21159,33KjbqKroPIQtzOKBDK81i//aq/OO2Zggvvbp0Sc+Bk=,587,5.635200e+06,6480000.0,9.0
68706,8vw81m40H6RdAlC2lKsT41oSiTepLGMDDgrd5w5PgsY=,90,7.776000e+06,7776000.0,1.0
68707,8vw81m40H6RdAlC2lKsT41oSiTepLGMDDgrd5w5PgsY=,455,1.310400e+07,21772800.0,3.0
56806,ARel10UZWzgSxSUqYwbFtFViNwgQCLK1aMhkoJ+mscM=,482,5.205600e+06,6220800.0,8.0
56807,ARel10UZWzgSxSUqYwbFtFViNwgQCLK1aMhkoJ+mscM=,209,4.514400e+06,4579200.0,4.0
42311,CLub4eqdqUZ7qgXJdSa3HkDjGfy/lcCWWD6st/tOT10=,57,4.924800e+06,4924800.0,1.0
42312,CLub4eqdqUZ7qgXJdSa3HkDjGfy/lcCWWD6st/tOT10=,618,5.932800e+06,7344000.0,9.0
114954,CqnzYX4UnocVkbygvMXzr6mdRamPSphCOfx/xl7ucPo=,nan,NaN,-1.0,0.0
114955,CqnzYX4UnocVkbygvMXzr6mdRamPSphCOfx/xl7ucPo=,598,7.381029e+06,13651200.0,7.0
122929,GRWybVwwa7NdiSNgw6YqV4PZ0nueLE1zg3tPlWp6sf0=,341,4.910400e+06,5443200.0,6.0
122930,GRWybVwwa7NdiSNgw6YqV4PZ0nueLE1zg3tPlWp6sf0=,362,4.468114e+06,4838400.0,7.0
105617,IYbqsaIlPpGu/an6G3YnpgAnwlJYp/90wBRGakRveUg=,242,6.969600e+06,9763200.0,3.0
105618,IYbqsaIlPpGu/an6G3YnpgAnwlJYp/90wBRGakRveUg=,373,1.074240e+07,15120000.0,3.0
23720,L/+CLF1kTnqsDNE5jg7a+03V9Zd23t6Gs1ZYSjxQupU=,303,6.544800e+06,9417600.0,4.0
23721,L/+CLF1kTnqsDNE5jg7a+03V9Zd23t6Gs1ZYSjxQupU=,356,5.126400e+06,5443200.0,6.0
14385,McyXIA/mybUxA1NxXr47DvV/9K73UnG30s2hXECb3js=,78,6.739200e+06,6739200.0,1.0
14386,McyXIA/mybUxA1NxXr47DvV/9K73UnG30s2hXECb3js=,505,7.272000e+06,12268800.0,6.0
9323,O8jcjWdIq6VeSvjF1oAmN/Wjk6Amf7ee596PtddWsbA=,nan,NaN,-1.0,0.0
9324,O8jcjWdIq6VeSvjF1oAmN/Wjk6Amf7ee596PtddWsbA=,663,4.773600e+06,5270400.0,12.0
58022,Oih3ypD/JJAdGgWJNfpXXz0l/QEUXJyGZ4k76MUxErY=,214,1.848960e+07,18489600.0,1.0
58023,Oih3ypD/JJAdGgWJNfpXXz0l/QEUXJyGZ4k76MUxErY=,144,1.244160e+07,12441600.0,1.0
75326,PVuTdiY2tl5CmYUhjxbLJkV005d6BWTZ44e+MY/AY90=,370,4.566857e+06,4924800.0,7.0
75327,PVuTdiY2tl5CmYUhjxbLJkV005d6BWTZ44e+MY/AY90=,314,4.521600e+06,4752000.0,6.0
112348,R26vka1b5KvBhfGnh++Srgg/WxCfLwKPcfVdbcimzMg=,267,4.613760e+06,4838400.0,5.0
112349,R26vka1b5KvBhfGnh++Srgg/WxCfLwKPcfVdbcimzMg=,405,4.998857e+06,6048000.0,7.0
35682,VuMiinglLymft478+EqCPSd+/OZmsdj18c9gnDDfM9s=,276,4.769280e+06,5702400.0,5.0
35683,VuMiinglLymft478+EqCPSd+/OZmsdj18c9gnDDfM9s=,152,6.566400e+06,6912000.0,2.0
120227,W9gRU2qIkSB+ziKx/mbke9PY+hMx9jMCiQYek9ZAtyw=,103,4.449600e+06,4492800.0,2.0
120228,W9gRU2qIkSB+ziKx/mbke9PY+hMx9jMCiQYek9ZAtyw=,578,4.993920e+06,6134400.0,10.0
83275,X/q3nrRfPgMrPMDmTdT+Y4aP3DoUJQgTvp8NSx/q48M=,563,5.404800e+06,6048000.0,9.0
83276,X/q3nrRfPgMrPMDmTdT+Y4aP3DoUJQgTvp8NSx/q48M=,73,6.307200e+06,6307200.0,1.0
46257,X1XDeAs1W+PfEH3hW3vC2pYTosG3+tlnPzTvLvmHdFU=,113,4.881600e+06,5011200.0,2.0
46258,X1XDeAs1W+PfEH3hW3vC2pYTosG3+tlnPzTvLvmHdFU=,599,4.704873e+06,5011200.0,11.0
71390,XbkfF/Bqt5ZPLQZq7SM8J6JehT8ajXVf7Z5jj5Byq8g=,436,4.708800e+06,6048000.0,8.0
71391,XbkfF/Bqt5ZPLQZq7SM8J6JehT8ajXVf7Z5jj5Byq8g=,152,6.566400e+06,8121600.0,2.0
72632,Zk10RjNZ9JOdQj92D8zufAcZhvTKhVw9QKOyKRio6P4=,214,4.622400e+06,5011200.0,4.0
72633,Zk10RjNZ9JOdQj92D8zufAcZhvTKhVw9QKOyKRio6P4=,71,6.134400e+06,6134400.0,1.0
121504,aTzRsU6YhFS3h87s/RKX9oLJ0bN9Jrl1KyTmAntsxsA=,nan,NaN,-1.0,0.0
121505,aTzRsU6YhFS3h87s/RKX9oLJ0bN9Jrl1KyTmAntsxsA=,298,6.436800e+06,6998400.0,4.0
13250,cAl+7L45WaObhlxGl4Nr6KTKmVqOtWLUjKwNlHuqfvM=,217,4.687200e+06,4924800.0,4.0
13251,cAl+7L45WaObhlxGl4Nr6KTKmVqOtWLUjKwNlHuqfvM=,450,4.860000e+06,5270400.0,8.0
10646,eppWyboLWesP8Bqtlg3FeJBKEaVNTqej59mlqNkObwY=,nan,NaN,-1.0,0.0
10647,eppWyboLWesP8Bqtlg3FeJBKEaVNTqej59mlqNkObwY=,677,9.748800e+06,11404800.0,6.0
87133,fur0JUxij0uIHrx4CnQzumrXj019vi/7hoGbBKVzCio=,66,5.702400e+06,5702400.0,1.0
87134,fur0JUxij0uIHrx4CnQzumrXj019vi/7hoGbBKVzCio=,158,6.825600e+06,7171200.0,2.0
81887,heQKYSVKeDGzisoVMREdj8ljmdaONFjy8KEP/IPMows=,nan,NaN,-1.0,0.0
81888,heQKYSVKeDGzisoVMREdj8ljmdaONFjy8KEP/IPMows=,684,5.909760e+06,19008000.0,10.0
50248,mlP8WQMKwLS9P34FxNyffZ91gd4Oncykc24+DUJyc4o=,nan,NaN,-1.0,0.0
50249,mlP8WQMKwLS9P34FxNyffZ91gd4Oncykc24+DUJyc4o=,643,6.172800e+06,9590400.0,9.0
54118,qV2NwyA7ysahbbTMw+rVWNFb2G2E6BJ0WOf5u+wUem8=,170,1.468800e+07,14688000.0,1.0
54119,qV2NwyA7ysahbbTMw+rVWNFb2G2E6BJ0WOf5u+wUem8=,295,2.548800e+07,25488000.0,1.0
28921,vC580vH35U7w7VCg2TtnKsZcKt02twMPQn6s3rXsr2k=,150,1.296000e+07,12960000.0,1.0
28922,vC580vH35U7w7VCg2TtnKsZcKt02twMPQn6s3rXsr2k=,399,1.723680e+07,22723200.0,2.0

In [69]:
print(train.shape)
print(user_logs.shape)
print(user_log_time_series.shape)

(992931, 22)
(5339422, 11)
(131992, 5)

In [70]:
transactions = pd.read_csv('raw_data/transactions.csv')
transactions = transactions.sort_values(by=['transaction_date'], ascending=[False]).reset_index(drop=True)
transactions = transactions.drop_duplicates(subset=['msno'], keep='first')

train = pd.merge(train, transactions, how='left', on='msno')
test = pd.merge(test, transactions, how='left', on='msno')
transactions=[]

In [80]:
train.columns
train.shape

(504818, 31)

In [81]:
train.head()

,Unnamed: 0,msno,is_churn,trans_count,date_min,date_max,date_count,num_25_sum,num_50_sum,num_75_sum,...,registration_init_month,registration_init_date,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,2,20161106.0,20170208.0,6.0,51.0,16.0,19.0,...,4.0,6.0,38,30,149,149,0,20170107,20170206,0
1,1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,23,20150101.0,20170319.0,11.0,447.0,157.0,121.0,...,4.0,7.0,39,30,149,149,1,20170224,20170321,1
2,2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,10,20160202.0,20170131.0,10.0,1570.0,950.0,302.0,...,10.0,16.0,39,30,149,149,1,20170112,20170203,1
3,3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,3,20150101.0,20170331.0,11.0,7354.0,2443.0,1803.0,...,11.0,2.0,38,410,1788,1788,0,20160106,20170220,0
4,4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,9,20150101.0,20170331.0,11.0,1408.0,720.0,689.0,...,12.0,28.0,38,30,149,149,0,20170128,20170227,0

In [82]:
#pd.concat(g for _, g in train.groupby("msno") if len(g) > 1)

In [83]:
train.shape

(504818, 31)

In [84]:
#if missing >3 cells, remove row 
train = train.dropna(thresh=3)

In [85]:
#remove outliers
train = train.drop(train[train.bd < 7].index)
train = train.drop(train[train.bd > 99].index)

In [86]:
print(train.shape)
print(test.shape)

train.to_csv("cleaned_input/train_merged.csv")
test.to_csv("cleaned_input/test_merged.csv")

(504818, 31)
(907471, 31)

In [87]:
#shortcut so don't have to load the first part 
train = pd.read_csv('cleaned_input/train_merged.csv')
test = pd.read_csv("cleaned_input/test_merged.csv")
#user_logs = pd.read_csv('cleaned_input/user_logs_merged.csv')

In [88]:
data = pd.concat(( train, test ))
train_cutoff = len(train)

In [89]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'msno', 'is_churn', 'trans_count',
       'date_min', 'date_max', 'date_count', 'num_25_sum', 'num_50_sum',
       'num_75_sum', 'num_985_sum', 'num_100_sum', 'num_unq_sum',
       'total_secs_sum', 'Unnamed: 0.1.1', 'city', 'bd', 'gender',
       'registered_via', 'registration_init_time', 'registration_init_year',
       'registration_init_month', 'registration_init_date',
       'payment_method_id', 'payment_plan_days', 'plan_list_price',
       'actual_amount_paid', 'is_auto_renew', 'transaction_date',
       'membership_expire_date', 'is_cancel'],
      dtype='object')

In [90]:
#fill in missing data points and encode variables
from helpers import *

nan_zero = {"logs_count":0}
nan_dif = {"city":-1, "registered_via":-1, "payment_method_id":-1, "is_auto_renew":-1, "is_cancel":-1}
nan_med = {"bd": 'med', "registration_init_date": 'med', "registration_init_year":'med', "registration_init_month":'med', 
           "registration_init_date":'med', "registration_init_time":'med', "num_25_sum": 'med', "num_50_sum": 'med', "num_75_sum": 'med', "num_985_sum": 'med', 
           "num_100_sum": 'med', "num_unq_sum": 'med', "total_secs_sum": 'med', "trans_count":'med', 'transaction_date':'med',
          'membership_expire_date':'med', 'plan_list_price':'med', 'actual_amount_paid':'med', 'payment_plan_days':'med'
          ,'date_min':'med', "date_max":'med', 'date_count':'med'}
nan_cat = {"gender":"missing"}

data = data.drop(["Unnamed: 0", "Unnamed: 0.1"], axis = 1)
#data = to_fill_na(data, nan_zero)
data = to_fill_na(data, nan_dif)
data = to_fill_na(data, nan_med)
data = to_fill_na(data, nan_cat)
data.head()

,msno,is_churn,trans_count,date_min,date_max,date_count,num_25_sum,num_50_sum,num_75_sum,num_985_sum,...,registration_init_month,registration_init_date,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,2,20161106.0,20170208.0,6.0,51.0,16.0,19.0,11.0,...,4.0,6.0,38.0,30.0,149.0,149.0,0.0,20170107.0,20170206.0,0.0
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,23,20150101.0,20170319.0,11.0,447.0,157.0,121.0,178.0,...,4.0,7.0,39.0,30.0,149.0,149.0,1.0,20170224.0,20170321.0,1.0
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,10,20160202.0,20170131.0,10.0,1570.0,950.0,302.0,479.0,...,10.0,16.0,39.0,30.0,149.0,149.0,1.0,20170112.0,20170203.0,1.0
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,3,20150101.0,20170331.0,11.0,7354.0,2443.0,1803.0,1655.0,...,11.0,2.0,38.0,410.0,1788.0,1788.0,0.0,20160106.0,20170220.0,0.0
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,9,20150101.0,20170331.0,11.0,1408.0,720.0,689.0,3249.0,...,12.0,28.0,38.0,30.0,149.0,149.0,0.0,20170128.0,20170227.0,0.0

In [91]:
data.isnull().any()

msno                       False
is_churn                   False
trans_count                False
date_min                   False
date_max                   False
date_count                 False
num_25_sum                 False
num_50_sum                 False
num_75_sum                 False
num_985_sum                False
num_100_sum                False
num_unq_sum                False
total_secs_sum             False
Unnamed: 0.1.1              True
city                       False
bd                         False
gender                     False
registered_via             False
registration_init_time     False
registration_init_year     False
registration_init_month    False
registration_init_date     False
payment_method_id          False
payment_plan_days          False
plan_list_price            False
actual_amount_paid         False
is_auto_renew              False
transaction_date           False
membership_expire_date     False
is_cancel                  False
dtype: bool

In [92]:
#feature engineering #DONT FORGET TO REMOVE INFINITE IF DIVIDE BY ZERO

data['discount'] = data['plan_list_price'] - data['actual_amount_paid']
data['is_discount'] = data.discount.apply(lambda x: 1 if x > 0 else 0)
data['amt_per_day'] = data['actual_amount_paid'] / data['payment_plan_days']
date_cols = ['transaction_date', 'membership_expire_date']
for col in date_cols:
    data[col] = pd.to_datetime(data[col], format='%Y%m%d')
    
#--- difference in days ---
data['membership_duration'] = data.membership_expire_date - data.transaction_date
data['membership_duration'] = data['membership_duration'] / np.timedelta64(1, 'D')
data = to_fill_na(data, {'membership_duration':'med'})
data['membership_duration'] = data['membership_duration'].astype(int)

#---difference in months ---
data['membership_duration_M'] = (data.membership_expire_date - data.transaction_date)/ np.timedelta64(1, 'M')
data['membership_duration_M'] = round(data['membership_duration_M']).astype(int)
data['membership_duration_M'].head()

date_cols = ['registration_init_time']

for col in date_cols:
    data[col] = pd.to_datetime(data[col], format='%Y%m%d')

'''#--- difference in days ---
data['registration_duration'] = data.expiration_date - data.registration_init_time
data['registration_duration'] = data['registration_duration'] / np.timedelta64(1, 'D')
data = to_fill_na(data, {'registration_duration':'med'})
data['registration_duration'] = data['registration_duration'].astype(int)'''

'''
#---difference in months ---
data['registration_duration_M'] = (data.expiration_date - data.registration_init_time)/ np.timedelta64(1, 'M')
data = to_fill_na(data, {'registration_duration_M':'med'})
data['registration_duration_M'] = round(data['registration_duration_M']).astype(int)

data['reg_mem_duration'] = data['registration_duration'] - data['membership_duration']
to_fill_na(data, {'reg_mem_duration':'med'})
data['reg_mem_duration_M'] = data['registration_duration_M'] - data['membership_duration_M']
'''
data['notAutorenew_&_cancel'] = ((data.is_auto_renew == 0) == (data.is_cancel == 1)).astype(np.int8)
data['notAutorenew_&_cancel'].unique()

#data['long_time_user'] = (((data['registration_duration'] / 365).astype(int)) > 1).astype(int)

#feature ideas to implement
#- price paid/ duration 
data['price_paid/duration'] = data["actual_amount_paid"]/ data["membership_duration"]
#- list price/ duration 
data['list_price/duration'] = data['plan_list_price']/ data["membership_duration"]
#- number of unique songs/ price paid
data["unique_songs/price_paid"] = data['num_unq_sum']/ data['actual_amount_paid']
#- number of unique songs/ list price
data["unique_songs/list_price"] = data['num_unq_sum']/ data['plan_list_price']
#-num25, num50 etc.../ price paid & list price
data["num_25/price_paid"] = data['num_25_sum']/data['actual_amount_paid']
data["num_50/price_paid"] = data['num_50_sum']/data['actual_amount_paid']
data["num_75/price_paid"] = data['num_75_sum']/data['actual_amount_paid']
data["num_985/price_paid"] = data['num_985_sum']/data['actual_amount_paid']
data["num_100/price_paid"] = data['num_100_sum']/data['actual_amount_paid']
data["num_25/list_price"] = data['num_25_sum']/data['plan_list_price']
data["num_50/list_price"] = data['num_50_sum']/data['plan_list_price']
data["num_75/list_price"] = data['num_75_sum']/data['plan_list_price']
data["num_985/list_price"] = data['num_985_sum']/data['plan_list_price']
data["num_100/list_price"] = data['num_100_sum']/data['plan_list_price']
# discount percentage (list price - price paid)/ list price 
data["discount_percentage"] = data['discount']/data['plan_list_price']
# days to expiration (expiration date - date)
#data['days_to_expiration'] = data['payment_plan_days'] - data['registration_duration']
# see if a single user has a pattern of canceling, resubscribing etc...?
# could make some really interesting features like how many times did subscribe:?
# times canceled ?
# Total subscription time  ?
# time in between subscriptions? 
# time in between subscriptions/total subscription time?

# try somes features related to age: 
# price paid/ age 
data['price_paid/age'] = data['actual_amount_paid']/ data['bd']
# unique songs/ age
data['unique_song/age'] = data["num_unq_sum"] / data['bd']
# discount percentage/ age
data['discount_percentage/age'] = data['discount_percentage']/ data['bd']
# days to expiration / age 
#data['days_to_expiration/age'] = data['days_to_expiration'] / data['bd']
# age/ date figures

In [93]:
data.isnull().any()

msno                       False
is_churn                   False
trans_count                False
date_min                   False
date_max                   False
date_count                 False
num_25_sum                 False
num_50_sum                 False
num_75_sum                 False
num_985_sum                False
num_100_sum                False
num_unq_sum                False
total_secs_sum             False
Unnamed: 0.1.1              True
city                       False
bd                         False
gender                     False
registered_via             False
registration_init_time     False
registration_init_year     False
registration_init_month    False
registration_init_date     False
payment_method_id          False
payment_plan_days          False
plan_list_price            False
actual_amount_paid         False
is_auto_renew              False
transaction_date           False
membership_expire_date     False
is_cancel                  False
discount                   False
is_discount                False
amt_per_day                 True
membership_duration        False
membership_duration_M      False
notAutorenew_&_cancel      False
price_paid/duration         True
list_price/duration         True
unique_songs/price_paid    False
unique_songs/list_price    False
num_25/price_paid           True
num_50/price_paid           True
num_75/price_paid           True
num_985/price_paid          True
num_100/price_paid          True
num_25/list_price           True
num_50/list_price           True
num_75/list_price           True
num_985/list_price          True
num_100/list_price          True
discount_percentage         True
price_paid/age              True
unique_song/age            False
discount_percentage/age     True
dtype: bool

In [94]:
from helpers import *

user_logs = [] 

#change to dummy variable 
categorical_to_encode = ['gender']
data = label_encoder(data, categorical_to_encode)

categorical_to_binarizer = ["city", "gender", "registered_via", "payment_method_id", "is_auto_renew", "is_cancel"]
data = label_binarizer(data,categorical_to_binarizer)

variables_to_drop = ["registration_init_time", "transaction_date", "membership_expire_date"] 
data = data.drop(categorical_to_encode, axis=1)
data = data.drop(variables_to_drop, axis=1)

labels:
['female' 'male' 'missing']

In [95]:
nan_med = {"price_paid/duration":'med', "num_25/price_paid":'med', 'num_50/price_paid':'med',
"num_75/price_paid":'med', 'num_985/price_paid':'med', 'num_985/price_paid':'med',
'num_100/price_paid':'med', 'num_25/list_price':'med', 'num_50/list_price':'med',
'num_75/list_price':'med', 'num_985/list_price':'med', 'num_100/list_price':'med',
'discount_percentage/age':'med', 'discount_percentage':'med'}

data = to_fill_na(data, nan_med)

In [96]:
data.isnull().any()

msno                           False
is_churn                       False
trans_count                    False
date_min                       False
date_max                       False
date_count                     False
num_25_sum                     False
num_50_sum                     False
num_75_sum                     False
num_985_sum                    False
num_100_sum                    False
num_unq_sum                    False
total_secs_sum                 False
Unnamed: 0.1.1                  True
city                           False
bd                             False
registered_via                 False
registration_init_year         False
registration_init_month        False
registration_init_date         False
payment_method_id              False
payment_plan_days              False
plan_list_price                False
actual_amount_paid             False
is_auto_renew                  False
is_cancel                      False
discount                       False
is_discount                    False
amt_per_day                     True
membership_duration            False
                               ...
payment_method_id_encoded13    False
payment_method_id_encoded14    False
payment_method_id_encoded15    False
payment_method_id_encoded16    False
payment_method_id_encoded17    False
payment_method_id_encoded18    False
payment_method_id_encoded19    False
payment_method_id_encoded20    False
payment_method_id_encoded21    False
payment_method_id_encoded22    False
payment_method_id_encoded23    False
payment_method_id_encoded24    False
payment_method_id_encoded25    False
payment_method_id_encoded26    False
payment_method_id_encoded27    False
payment_method_id_encoded28    False
payment_method_id_encoded29    False
payment_method_id_encoded30    False
payment_method_id_encoded31    False
payment_method_id_encoded32    False
payment_method_id_encoded33    False
payment_method_id_encoded34    False
payment_method_id_encoded35    False
payment_method_id_encoded36    False
is_auto_renew_encoded0         False
is_auto_renew_encoded1         False
is_auto_renew_encoded2         False
is_cancel_encoded0             False
is_cancel_encoded1             False
is_cancel_encoded2             False
Length: 125, dtype: bool

In [97]:
from numpy import inf
#data[data == -inf] = 1e6
#data[data == inf] = 1e6
data = data.replace([np.inf, -np.inf], 1e6)

In [98]:
train = data[:train_cutoff]
test = data[train_cutoff:]
print(train.shape)
print(test.shape)
test = test.drop(["is_churn"], axis = 1)
train.to_csv("cleaned_input/train_consolidated.csv")
test.to_csv("cleaned_input/test_consolidated.csv")

(504818, 125)
(907471, 125)